<!DOCTYPE html>

{% load dajaxice_templatetags %}

<html>
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% block title %}{% endblock %}ComiKnowledge</title>

<link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet" media="screen">
<style>
  html, body {
      height: 100%;
  }
  #wrapper {
      min-height: 100%;
      height: auto !important;
      height: 100%;
      margin: 0 auto -60px;
  }
  #push, footer {
      height: 60px;
  }
</style>
{% block style %}{% endblock %}

<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
<script>
  $(function() {

  });
</script>
{% dajaxice_js_import %}
{% block script %}{% endblock %}
</head>

<body>
  <div id="wrapper">
  <nav class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-header">
      <button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-target">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">ComiKnowledge</a>
    </div>
    <div class="navbar-collapse collapse navbar-target">
    {% block navbar-contents %}
      <div class="col-sm-3">
        <form class="navbar-form" action="{% url "ck.views.search" %}" role="search" method="post">{% csrf_token %}
          <div class="input-group">
            <input type="text" class="form-control" name="keyword" placeholder="検索">
            <div class="input-group-btn">
              <button type="submit" class="btn btn-inverse"><span class="glyphicon glyphicon-search"></span></button>
            </div>
          </div>
        </form>
      </div>
      <ul class="nav navbar-nav">
        <li id="navbar-group"><a href={% url "ck.views.group" %}>グループ</a></li>
        <li id="navbar-checklist"><a href={% url "ck.views.checklist" %}>チェックリスト</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
      {% if user.is_authenticated %}
        <li><a href={% url "ck.views.logout" %}>ログアウト</a></li>
      {% else %}
        <li><a href={% url "ck.views.login" %}>ログイン</a></li>
      {% endif %}
      </ul>
    {% endblock %}
    </div>
  </nav>

  <div id="header">
{% block header %}{% endblock %}
  </div>

  <div id="content" class="container content">
{% block content %}{% endblock %}
  </div>

  <div id="push"></div>
  </div>

  <footer>
    <div class="container">
      <p class="text-muted text-center">
        © 2013 <a href="https://twitter.com/intent/tweet?screen_name=spring_raining" data-lang="ja" data-related="spring_raining">spring_raining</a>
      </p>
    </div>
  </footer>
</body>
</html>