{% extends "base.html" %}

{% block title %}チェックリスト{% endblock %}

{% block content %}
  <h3>チェックリスト読み込み</h3>
  <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
    <div class="form-group">
      <label for="form_csv">CSVチェックリストを読み込み</label>
      <input type="file" name="csv" id="form_csv">
    </div>
    <input class="btn btn-default" type="submit" id="submit" value="読み込み">
  </form>

  <h3>チェックリスト一覧</h3>
  <table class="table">
    {% for list in lists %}
      <tr>
        <td>{{ list.list_id }}</td>
        <td><a href="/checklist/{{ list.list_id }}/">{{ list.list_name }}</a></td>
        <td><a href="/checklist?command=delete&id={{ list.list_id }}">削除</a></td>
      </tr>
    {% endfor %}
  </table>
  <p><a href="/home/">ホームへ</a></p>
  <p><a href="/logout/">ログアウト</a></p>
{% endblock %}