{% extends "base.html" %}

{% block title %}{{ list.list_name }} | {% endblock %}

{% block script %}
  <script>
  $(function() {
      $(".submit_delete_listcircle").click(function() {
          if (confirm($(this).attr("name")+"を削除しますか？")) {
              Dajaxice.ck.ajax_delete_listcircle(callback_delete_listcircle, {"listcircle_id":$(this).val()});
          }
      });
  });

  function callback_delete_listcircle(data) {
      $("tr[id="+data.id+"]").fadeOut("slow");
  }
  </script>
{% endblock %}

{% block content %}
  <h3>{{ list.list_name }}</h3>

  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th width="130">スペース</th>
        <th >サークル名</th>
        <th>メモ</th>
      </tr>
    </thead>
    <tbody>
    {% for circle in circles %}
      <tr id="{{ circle.id }}">
        <td>
          {% ifequal circle.week "日" %}1日目{% endifequal %}
          {% ifequal circle.week "月" %}2日目{% endifequal %}
          {% ifequal circle.week "火" %}3日目{% endifequal %}
          {{ circle.get_long_space | default_if_none:"抽選漏れ" }}
        </td>
        <td><a href="{% url "ck.views.search" %}?keyword={{ circle.circle_name|urlencode }}">{{ circle.circle_name }}</a></td>
        <td>{{ circle.memo }}
          <button class="btn btn-default btn-xs pull-right submit_delete_listcircle" value="{{ circle.id }}" name="{{ circle.circle_name }}">削除</button>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}