{% extends "base.html" %}

{% block title %}{{ list.list_name }} | {% endblock %}

{% block content %}
  <h3>{{ list.list_name }}</h3>

  <table class="table table-bordered table-condensed table-hover">
    <thead>
      <tr>
        <th width="30">曜日</th>
        <th width="100">スペース</th>
        <th width="250">サークル名</th>
        <th>メモ</th>
        <!--<th width="40"></th>-->
      </tr>
    </thead>
    <tbody>
    {% for circle in circles %}
      <tr>
        <td>{{ circle.week }}</td>
        <td>{{ circle.get_long_space }}</td>
        <td>{{ circle.circle_name }}</td>
        <td>{{ circle.memo }}</td>
        <!--<td><a href="/checklist/{{ list.list_id }}?command=delete&id={{ circle.id }}">削除</a></td>-->
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p><a href="/checklist/">チェックリスト一覧へ</a></p>

{% endblock %}