{% extends "base.html" %}

{% block title %}{{ circle_data.circle_name }} | {% endblock %}

{% block style %}
  <style>
  div .dropdown-menu {
      padding: 10px;
  }

  .timechart {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
  }

  .timechart-view {
      height: 0;
  }

  .timechart-block {
      float: left;
      height: 100%;
      width: 1.66666666666666%;
      border-style: solid;
      cursor: pointer;
      border-color: #D7D7D7;
      border-width: 0 1px 0 0;
  }

  .timechart-view-block {
      float: left;
      height: 100%;
      width: 1.66666666666666%;
      border-style: solid;
      border-color: #D7D7D7;
      border-width: 0 1px 0 0;
  }

  .timechart-block-hour,
  .timechart-view-block-hour {
      border-color: #9B9B9B;
  }

  .timechart-view-wrapper {
      position: relative;
  }

  .timechart-view-data-mode1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      border-radius: 6px;
      -webkit-box-shadow: inset 0 -8px 10px rgba(0, 0, 0, 0.1);
              box-shadow: inset 0 -8px 10px rgba(0, 0, 0, 0.1);
  }

  .timechart-view-data-mode2 {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 20px;
      font-size: 12px;
      line-height: 20px;
      text-align: center;
      border-style: solid;
      border-color: rgba(0, 0, 0, 0.2);
      border-width: 2px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
              box-shadow: inset 0 -2px 5px rgba(0, 0, 0, 0.1);
  }

  .timechart-block:not(.timechart-block-selecting):hover,
  .timechart-block:not(.timechart-block-selecting):focus {
      text-decoration: none;
      background-color: #e1e1e1;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
              box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.3);
  }

  .timechart-block-selecting {
      background: #428bca;
      -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
              box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.4);
  }

  .timechart-pop {
      position: absolute;
      top: 0;
      left: 0;
  }

  .progress-bar {
      height: 20px;
  }

  .help-hour {
      margin-top: -15px;
  }

  .popover {
      max-width: 280px;
  }

  .popover-title {
      display: none;
  }

  .timechart-pop {
      padding-bottom: 45px;
  }

  .form-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  </style>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/timechart.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/circle.js"></script>
  <script>
    (function() {
      var args = {
        static_url: "{{ STATIC_URL }}",
        url__circle: "{% url "ck.views.circle" circle_knowledge.circle_knowledge_id%}",
        circle_knowledge__circle_knowledge_id: "{{ circle_knowledge.circle_knowledge_id }}"
      };
      return new Circle(args);
    })();
  </script>
{% endblock %}

{% block content %}
  {% ifequal alert_code 1 %}
    <div class="alert alert-success" id="alert">{{ circle_data.circle_name }}を登録しました！</div>
  {% endifequal %}
  {% ifequal alert_code 2 %}
    <div class="alert alert-danger" id="alert">{{ circle_data.day }}日目 {{ circle_data.circle_space }}はすでに登録されています</div>
  {% endifequal %}
  {% ifequal alert_code 3 %}
    <div class="alert alert-success" id="alert">タイムチャートに情報を登録しました！</div>
  {% endifequal %}
  {% ifequal alert_code 4 %}
    <div class="alert alert-success" id="alert">タイムチャートのコメントを削除しました</div>
  {% endifequal %}
  {% ifequal alert_code 5 %}
    <div class="alert alert-success" id="alert">{{ circle_data.circle_name }}を編集しました！</div>
  {% endifequal %}
  {% if not alert_code %}
    <div class="alert" id="alert" hidden></div>
  {% endif %}

  <h2>
    {{ circle_data.circle_name }}
    {% if user.is_authenticated %}
      <div class="btn-group pull-right">
        <a href="{% url "ck.views.circle_edit" circle_knowledge.circle_knowledge_id %}" class="btn btn-primary">
          情報を編集
        </a>
      </div>
    {% endif %}
  </h2>
  <h4>{{ circle_data.pen_name }}</h4>
  <h4>{{ circle_data.day }}日目 {{ circle_data.circle_space }} <span class="label label-success" style="padding: .3em .6em;">{{ space_character }}</span></h4>
  <p class="lead">{{ circle_data.description|linebreaksbr }}</p>
  <ul class="list-group">
    {% if circle_data.wc_id %}
      <a href="https://webcatalog.circle.ms/Circle/{{ circle_data.wc_id }}" target="_blank" class="list-group-item"><p class="list-group-item-text">Webカタログ: https://webcatalog.circle.ms/Circle/{{ circle_data.wc_id }}</p></a>
    {% else %}
      <li class="list-group-item">Webカタログ:</li>
    {% endif %}
    {% if circle_data.url %}
      <a href="{{ circle_data.url }}" target="_blank" class="list-group-item"><p class="list-group-item-text">Webサイト: {{ circle_data.url }}</p></a>
    {% else %}
      <li class="list-group-item">Webサイト:</li>
    {% endif %}
    {% if circle_data.twitter_url %}
      <a href="{{ circle_data.twitter_url }}" target="_blank" class="list-group-item"><p class="list-group-item-text">Twitter: {{ circle_data.twitter_url }}</p></a>
    {% else %}
      <li class="list-group-item">Twitter:</li>
    {% endif %}
    {% if circle_data.pixiv_url %}
      <a href="{{ circle_data.pixiv_url }}" target="_blank" class="list-group-item"><p class="list-group-item-text">Pixiv: {{ circle_data.pixiv_url }}</p></a>
    {% else %}
      <li class="list-group-item">Pixiv:</li>
    {% endif %}
  </ul>

  <div class="panel-group" id="accordion">
    {% if user.is_authenticated %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapse-body">
            C85 タイムチャートを登録
          </a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="collapse-body">
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-offset-1 col-sm-10">
              <div class="alert" id="alert-form" hidden></div>
            </div>
          </div>

          <span class="help-block help-description">タイムチャート上をクリック・ドラッグしてください。</span>
          <div class="progress timechart"></div>
          <span class="help-block help-hour">10:00 <div class="pull-right">15:00</div></span>
        </div>
      </div>
    </div>
    {% else %}
      <div class="row">
        <div class="col-sm-offset-1 col-sm-10">
          <div class="alert alert-info">ログインをするとサークルの混雑状況を登録できます。</div>
        </div>
      </div>
    {% endif %}

    {% ifnotequal comments.85|length 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          C85
        </h4>
      </div>
      <div class="panel-collapse">
        <div class="panel-body">
          <div class="timechart-view-wrapper timechart-view-wrapper-85">
            <div class="progress timechart-view timechart-view-85">
            </div>
          </div>
          <span class="help-block help-hour">10:00 <div class="pull-right">15:00</div></span>
        </div>
      </div>
    </div>
    {% endifnotequal %}
    {% ifnotequal comments.84|length 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          C84
        </h4>
      </div>
      <div class="panel-collapse">
        <div class="panel-body">
          <div class="timechart-view-wrapper timechart-view-wrapper-84">
            <div class="progress timechart-view timechart-view-84">
            </div>
          </div>
          <span class="help-block help-hour">10:00 <div class="pull-right">15:00</div></span>
        </div>
      </div>
    </div>
    {% endifnotequal %}
    {% ifnotequal comments.83|length 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          C83
        </h4>
      </div>
      <div class="panel-collapse">
        <div class="panel-body">
          <div class="timechart-view-wrapper timechart-view-wrapper-83">
            <div class="progress timechart-view timechart-view-83">
            </div>
          </div>
          <span class="help-block help-hour">10:00 <div class="pull-right">15:00</div></span>
        </div>
      </div>
    </div>
    {% endifnotequal %}
    {% ifnotequal comments.82|length 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          C82
        </h4>
      </div>
      <div class="panel-collapse">
        <div class="panel-body">
          <div class="timechart-view-wrapper timechart-view-wrapper-82">
            <div class="progress timechart-view timechart-view-82">
            </div>
          </div>
          <span class="help-block help-hour">10:00 <div class="pull-right">15:00</div></span>
        </div>
      </div>
    </div>
    {% endifnotequal %}
    {% ifnotequal comments.81|length 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          C81
        </h4>
      </div>
      <div class="panel-collapse">
        <div class="panel-body">
          <div class="timechart-view-wrapper  timechart-view-wrapper-81">
            <div class="progress timechart-view timechart-view-81">
            </div>
          </div>
          <span class="help-block help-hour">10:00 <div class="pull-right">15:00</div></span>
        </div>
      </div>
    </div>
    {% endifnotequal %}
    {% ifnotequal comments.80|length 0 %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">
          C80
        </h4>
      </div>
      <div class="panel-collapse">
        <div class="panel-body">
          <div class="timechart-view-wrapper timechart-view-wrapper-80">
            <div class="progress timechart-view timechart-view-80">
            </div>
          </div>
          <span class="help-block help-hour">10:00 <div class="pull-right">15:00</div></span>
        </div>
      </div>
    </div>
    {% endifnotequal %}
  </div>

  <!-- popover-content start -->

  <div id="popover-content-original" style="display: none;">
    <form class="form-inline">
      <ul class="nav nav-pills nav-justified">
        <li class="active"><a href="#popover-mode1" data-toggle="tab">並んだ時間</a></li>
        <li><a href="#popover-mode2" data-toggle="tab">その他</a></li>
      </ul>

      <div class="tab-content">
        <div class="tab-pane active" id="popover-mode1">
          <div class="form-wrapper">
            <label for="form-start-hour">並び始めた時間　　　</label>
            <div class="form-group" style="width: 42px;">
              <label class="sr-only" for="form-start-hour">並び始めた時間</label>
              <input class="form-control" id="form-start-hour" maxlength="2">
            </div> :
            <div class="form-group" style="width: 42px;">
              <label class="sr-only" for="form-start-min">並び始めた時間</label>
              <input class="form-control" id="form-start-min" maxlength="2">
            </div>
          </div>
          <div class="form-wrapper">
            <label for="form-finish-hour">並び終わった時間　　</label>
            <div class="form-group" style="width: 42px;">
              <label class="sr-only" for="form-finish-hour">並び始めた時間</label>
              <input class="form-control" id="form-finish-hour" maxlength="2">
            </div> :
            <div class="form-group" style="width: 42px;">
              <label class="sr-only" for="form-finish-min">並び始めた時間</label>
              <input class="form-control" id="form-finish-min" maxlength="2">
            </div>
          </div>
          <div class="form-wrapper">
            <div class="form-group">
              <label for="form-description1">詳細　　　</label>
              <input class="form-control" id="form-description1" maxlength="50">
            </div>
          </div>
        </div>

        <div class="tab-pane" id="popover-mode2">
          <div class="form-wrapper">
            <div class="form-group">
              <label class="sr-only" for="formevent">出来事</label>
              <select id="form-event" class="form-control" style="width: 245px !important;">
                <option value="2">頒布物が売り切れた</option>
                <option value="3">限数が変更された
                <option value="0">その他</option>
              </select>
            </div>
          </div>
          <div class="form-wrapper">
            <label for="form-event-hour">起こった時間　　　　</label>
            <div class="form-group" style="width: 42px;">
              <label class="sr-only" for="form-event-hour">起こった時間</label>
              <input class="form-control" id="form-event-hour" maxlength="2">
            </div> :
            <div class="form-group" style="width: 42px;">
              <label class="sr-only" for="form-event-min">起こった時間</label>
              <input class="form-control" id="form-event-min" maxlength="2">
            </div>
          </div>
          <div class="form-wrapper">
            <div class="form-group">
              <label for="form-description2">詳細　　　</label>
              <input class="form-control" id="form-description2" maxlength="50">
            </div>
          </div>
        </div>
      </div>

      <div class="form-wrapper">
        <div class="checkbox">
          <label>
            <input type="checkbox" id="form-onymous" checked>アカウントを公開
          </label>
        </div>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-default" id="form-cancel">キャンセル</button>
        <button type="button" class="btn btn-primary" id="form-submit">登録</button>
      </div>
    </form>
    <br>
    <br>
  </div>

  <!-- popover-content end -->

  <!-- popover-view-content start -->

  <div id="popover-view-content-original" style="display: none; width: 500px;">
    <div class="timechart-pop-view-thumbnail" style="display: none; padding: 0">
      <img class="img-thumbnail" align="left" style="height: 40px; padding: 2px;">
    </div>
    <div style="display: inline;">
      <div class="timechart-pop-view-mode1" style="display: none;">
        <span class="timechart-pop-view-start-hour">00</span>:<span class="timechart-pop-view-start-min">00</span>
          〜
        <span class="timechart-pop-view-finish-hour">00</span>:<span class="timechart-pop-view-finish-min">00</span>
        (<span class="timechart-pop-view-time"></span>分)
      </div>
      <div class="timechart-pop-view-mode2" style="display: none;">
        <span class="timechart-pop-view-event-hour">00</span>:<span class="timechart-pop-view-event-min">00</span>
      </div>
      <br>
      <span class="timechart-pop-view-description"></span>
    </div>
    <br>
    <strong class="timechart-pop-view-comment"></strong>
    <div class="timechart-pop-view-delete" style="color: #737373; display: none;">ダブルクリックでコメントを消去</div>
  </div>

  <!-- popover-view-content end -->

{% endblock %}