{% extends "base.html" %}

{% block title %}{{ company_data.company_name }} | {% endblock %}

{% block style %}
  <style>

  .form-wrapper {
      margin-top: 10px;
      margin-bottom: 10px;
  }

  </style>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/company.js"></script>
  <script>
    (function() {
      var args = {
        static_url: "{{ STATIC_URL }}",
        url__company: "{% url "ck.views.company" company_knowledge.company_knowledge_id%}",
        company_knowledge__company_knowledge_id: "{{ company_knowledge.company_knowledge_id }}"
      };
      return new Company(args);
    })();
  </script>
{% endblock %}

{% block content %}
  {% ifequal alert_code 1 %}
    <div class="alert alert-success" id="alert">{{ company_data.company_name }}を登録しました！</div>
  {% endifequal %}
  {% ifequal alert_code 2 %}
    <div class="alert alert-danger" id="alert">ブース番号: {{ company_data.space_number }}はすでに登録されています</div>
  {% endifequal %}
  {% ifequal alert_code 3 %}
    <div class="alert alert-success" id="alert">タイムチャートに情報を登録しました！</div>
  {% endifequal %}
  {% ifequal alert_code 4 %}
    <div class="alert alert-success" id="alert">タイムチャートのコメントを削除しました</div>
  {% endifequal %}
  {% ifequal alert_code 5 %}
    <div class="alert alert-success" id="alert">{{ company_data.company_name }}を編集しました！</div>
  {% endifequal %}
  {% if not alert_code %}
    <div class="alert" id="alert" hidden></div>
  {% endif %}

  <h2>
    {{ company_data.company_name }}
    {% if user.is_authenticated %}
      <div class="btn-group pull-right">
        <a href="{% url "ck.views.company_edit" company_knowledge.company_knowledge_id %}" class="btn btn-primary">
          情報を編集
        </a>
      </div>
    {% endif %}
  </h2>
  <h4>ブース番号: {{ company_data.space_number }}</h4>
  <p class="lead">{{ company_data.description|linebreaksbr }}</p>
  <ul class="list-group">
    <a href="https://webcatalog.circle.ms/Booth/110{{ company_data.space_number }}" target="_blank" class="list-group-item"><p class="list-group-item-text">Webカタログ: https://webcatalog.circle.ms/Booth/110{{ company_data.space_number }}</p></a>
    {% if company_data.url %}
      <a href="{{ company_data.url }}" target="_blank" class="list-group-item"><p class="list-group-item-text">Webサイト: {{ company_data.url }}</p></a>
    {% else %}
      <li class="list-group-item">Webサイト:</li>
    {% endif %}
  </ul>

  <form class="form-inline">

    <div class="form-wrapper">
      <div class="form-group">
        <label class="sr-only" for="form-event">出来事</label>
        <select id="form-event" class="form-control">
          <option value="1">並んだ</option>
          <option value="2">頒布物が売り切れた</option>
          <option value="3">限数が変更された
          <option value="0">その他</option>
        </select>
      </div>
    </div>

    <div class="form-wrapper">
      <div class="form-group">
        <label class="" for="form-day">起こった日　　　　　</label>
        <select id="form-day" class="form-control">
          <option value="1">1日目</option>
          <option value="2">2日目</option>
          <option value="3">3日目</option>
        </select>
      </div>
    </div>

    <div class="visible-on-mode1">
      <div class="form-wrapper">
        <label for="form-start-hour">並び始めた時間　　　</label>
        <div class="form-group" style="width: 42px;">
          <label class="sr-only" for="form-start-hour">並び始めた時間</label>
          <input class="form-control" id="form-start-hour" maxlength="2">
        </div> :
        <div class="form-group" style="width: 42px;">
          <label class="sr-only" for="form-start-min">並び始めた時間</label>
          <input class="form-control" id="form-start-min" maxlength="2">
        </div>
      </div>
      <div class="form-wrapper">
        <label for="form-finish-hour">並び終わった時間　　</label>
        <div class="form-group" style="width: 42px;">
          <label class="sr-only" for="form-finish-hour">並び始めた時間</label>
          <input class="form-control" id="form-finish-hour" maxlength="2">
        </div> :
        <div class="form-group" style="width: 42px;">
          <label class="sr-only" for="form-finish-min">並び始めた時間</label>
          <input class="form-control" id="form-finish-min" maxlength="2">
        </div>
      </div>
    </div>

    <div class="visible-on-mode2 hidden">
      <div class="form-wrapper">
        <label for="form-event-hour">起こった時間　　　　</label>
        <div class="form-group" style="width: 42px;">
          <label class="sr-only" for="form-event-hour">起こった時間</label>
          <input class="form-control" id="form-event-hour" maxlength="2">
        </div> :
        <div class="form-group" style="width: 42px;">
          <label class="sr-only" for="form-event-min">起こった時間</label>
          <input class="form-control" id="form-event-min" maxlength="2">
        </div>
      </div>
    </div>

    <div class="form-wrapper">
      <div class="form-group">
        <label for="form-description">詳細　　　</label>
        <input class="form-control" id="form-description" maxlength="50">
      </div>
    </div>

    <div class="form-wrapper">
      <div class="checkbox">
        <label>
          <input type="checkbox" id="form-onymous" checked>アカウントを公開
        </label>
      </div>
    </div>

    <div class="pull-right">
      <button type="button" class="btn btn-primary" id="form-submit">登録</button>
    </div>

  </form>

  <div class="comment-container"></div>

{% endblock %}