{% extends "base.html" %}

{% block title %}チェックリストを統合 | {% endblock %}

{% block style %}
  <style>
      .members {
          margin: 5px;
      }

      .member-thumbnail {
          display: block;
          margin: auto;
      }

      .sorting-color{
          margin: 5px;
          float: left;
      }

      .select-color {
          margin: 4px;
      }
  </style>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/group_checklist_create.js"></script>
  <script>
    (function() {
      var color = {};
      {% for k, v in color_sets.items %}
        color["{{ k }}"] = ["{{ v.1 }}","{{ v.2 }}","{{ v.3 }}","{{ v.4 }}","{{ v.5 }}","{{ v.6 }}","{{ v.7 }}","{{ v.8 }}","{{ v.9 }}"];
      {% endfor %}
      var default_color = ["#{{ default_color.1 }}","#{{ default_color.2 }}","#{{ default_color.3 }}","#{{ default_color.4 }}","#{{ default_color.5 }}","#{{ default_color.6 }}","#{{ default_color.7 }}","#{{ default_color.8 }}","#{{ default_color.9 }}"];
      var args = {
        color: color,
        default_color: default_color
      };
      return new GroupChecklistCreate(args);
    })();
  </script>
{% endblock %}

{% block content %}
  <form class="form-horizontal" method="post" id="form">{% csrf_token %}

  <h3>チェックリストを統合</h3>

  {% ifequal alert_code 1 %}
    <div class="alert alert-success" id="alert">{{ list_name }}を作成しました！</div>
  {% endifequal %}
  {% ifequal alert_code 2 %}
    <div class="alert alert-danger" id="alert">リストの名前を入力してください</div>
  {% endifequal %}
  {% ifequal alert_code 3 %}
    <div class="alert alert-danger" id="alert">統合するリストを選択してください</div>
  {% endifequal %}
  {% ifequal alert_code 4 %}
    <div class="alert alert-danger" id="alert">リストの統合に失敗しました</div>
  {% endifequal %}

  <div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">チェックリストの統合設定</h3>
      </div>
      <div class="panel-body">
        <div class="form-group{% ifequal alert_code 2 %} has-error{% endifequal %}">
          <label class="col-sm-offset-1 col-sm-3" for="form_name">チェックリストの名前</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="list_name" id="form_name" maxlength="30" placeholder="30文字">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-offset-1 col-sm-3" for="form_id">メモの書式</label>
          <div class="col-sm-7">
            <input class="form-control" type="text" name="memo" id="form_id" maxlength="50" value="{memo}({username}), ">
            <p class="help-block">{memo}:メモ　{username}:メンバーの名前　{userid}:メンバーのID　\n:改行に置き換えられます</p>
          </div>
        </div>

        <div class="form-group">
          <h4 class="col-sm-offset-1 col-sm-10">複数のリストが同じサークルを選択していた場合</h4>
        </div>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-3">
            <label>
              <input type="radio" name="color_option" value="1" checked>
              優先された色を設定する
            </label>
          </div>
          <div class="col-sm-7">
            <div id="sortable-color">
              <div class="btn sorting-color sorting_color_1" id="1"></div>
              <div class="btn sorting-color sorting_color_2" id="2"></div>
              <div class="btn sorting-color sorting_color_3" id="3"></div>
              <div class="btn sorting-color sorting_color_4" id="4"></div>
              <div class="btn sorting-color sorting_color_5" id="5"></div>
              <div class="btn sorting-color sorting_color_6" id="6"></div>
              <div class="btn sorting-color sorting_color_7" id="7"></div>
              <div class="btn sorting-color sorting_color_8" id="8"></div>
              <div class="btn sorting-color sorting_color_9" id="9"></div>
            </div>
          </div>
          <div class="col-sm-offset-4 col-sm-7">
            <p class="help-block">ドラッグで移動　左が優先されます</p>
          </div>
          <input type="hidden" id="color-order" name="color_order">
        </div>

        <div class="form-group">
          <div class="col-sm-offset-1 col-sm-3">
            <label>
             <input type="radio" name="color_option" value="2">
              特定の色を設定する
            </label>
          </div>
          <div class="col-sm-7">
            <table><tbody>
            <tr>
              <td><label for="select_color_radio_1"><div class="btn select-color select_color_1"></div></label></td>
              <td><label for="select_color_radio_2"><div class="btn select-color select_color_2"></div></label></td>
              <td><label for="select_color_radio_3"><div class="btn select-color select_color_3"></div></label></td>
              <td><label for="select_color_radio_4"><div class="btn select-color select_color_4"></div></label></td>
              <td><label for="select_color_radio_5"><div class="btn select-color select_color_5"></div></label></td>
              <td><label for="select_color_radio_6"><div class="btn select-color select_color_6"></div></label></td>
              <td><label for="select_color_radio_7"><div class="btn select-color select_color_7"></div></label></td>
              <td><label for="select_color_radio_8"><div class="btn select-color select_color_8"></div></label></td>
              <td><label for="select_color_radio_9"><div class="btn select-color select_color_9"></div></label></td>
            </tr>
            <tr>
              <td align="center"><input class="select-color-radio" id="select_color_radio_1" type="radio" name="select_color" value="1" checked></td>
              <td align="center"><input class="select-color-radio" id="select_color_radio_2" type="radio" name="select_color" value="2"></td>
              <td align="center"><input class="select-color-radio" id="select_color_radio_3" type="radio" name="select_color" value="3"></td>
              <td align="center"><input class="select-color-radio" id="select_color_radio_4" type="radio" name="select_color" value="4"></td>
              <td align="center"><input class="select-color-radio" id="select_color_radio_5" type="radio" name="select_color" value="5"></td>
              <td align="center"><input class="select-color-radio" id="select_color_radio_6" type="radio" name="select_color" value="6"></td>
              <td align="center"><input class="select-color-radio" id="select_color_radio_7" type="radio" name="select_color" value="7"></td>
              <td align="center"><input class="select-color-radio" id="select_color_radio_8" type="radio" name="select_color" value="8"></td>
              <td align="center"><input class="select-color-radio" id="select_color_radio_9" type="radio" name="select_color" value="9"></td>
            </tr>
            </tbody></table>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">統合するチェックリストを選択</h3>
      </div>
      <div class="panel-body">
      {% for member in members %}{% if member.lists %}
        <div class="row members">
          <div class="col-sm-2 visible-lg visible-md visible-sm">
            {% if member.thumbnail %}
              <img src="{{ member.thumbnail.url }}" class="member-thumbnail img-thumbnail">
            {% endif %}
          </div>
          <div class="col-sm-10">
            <table class="table table-condensed">
            <tr>
              <td colspan="">{{ member.first_name }}</td>
              <td width="80">統合リスト</td>
              <td width="80">色設定</td>
            </tr>
            {% for list in member.lists %}
              <tr>
                <td>{{ list.list_name }}</td>
                <td>
                    <label>
                      <input type="checkbox" name="list[]" class="form_list" value={{ list.id }} >
                    </label>
                </td>
                <td>
                    <label>
                      <input type="radio" name="first" class="form_first" value="{{ list.id }}">
                    </label>
                </td>
              </tr>
            {% endfor %}
            </table>
          </div>
        </div>
      {% endif %}{% endfor %}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-offset-1 col-sm-10">
      <input class="btn btn-primary pull-right" type="submit" id="submit" value="作成">
    </div>
  </div>
  </form>

{% endblock %}