{% extends "base.html" %}

{% block title %}グループ{% endblock %}

{% block content %}
  <h1>グループ</h1>
  <div>
  <h2>グループを作成</h2>
    <form method="post" enctype="multipart/form-data" id="form">{% csrf_token %}
      <div>
        グループの名前を入力（80文字）  <label><input type="text" name="group_name" id="form_name"></label>
      </div>
      <div>
        グループのIDを入力（半角英数字とアンダーバー 30文字）  <label><input type="text" name="group_id" id="form_name"></label>
      </div>
      <div>
        <input type="submit" id="submit" value="作成">
      </div>
    </form>
  </div>
  <div>
    <h2>参加中のグループ一覧</h2>
    <table border="1">
      {% for group in groups %}
        <tr>
          <td>{{ group.group_id }}</td>
          <td><a href="/group/{{ group.group_id }}/">{{ group.name }}</a></td>
        </tr>
      {% endfor %}
    </table>
  </div>
  <div><a href="/home/">ホームへ</a></div>
  <div><a href="/logout/">ログアウト</a></div>
{% endblock %}