{% extends "base.html" %}

{% block style %}
  <style>
      .user-list {
          height: 105px;
      }
      .user-data {
          margin-top: 21px;
          margin-left: 90px;
      }

      .twitter-timeline {
          width: 100%;
          height: 500px;
      }

      #tutorial {
          margin-bottom: 20px;
      }
  </style>
{% endblock %}

{% block script %}
  <script type="text/javascript" src="http://comiknowledge.tumblr.com/api/read/json"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/home.js"></script>
  <script>
    (function() {
      return new Home();
    })();
  </script>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-sm-4">
      <ul class="list-group">
        <li class="list-group-item user-list">
          {% if user.thumbnail %}<img src="{{ user.thumbnail.url }}" class="img-thumbnail img-responsive" align="left">{% endif %}
          <div class="user-data">
            <strong>{{ user.first_name }}</strong><br>
            {{ user.username }}
          </div>
        </li>
      </ul>

      <a href="{% url "ck.views.tutorial" %}" class="btn btn-success btn-block" id="tutorial">チュートリアルはこちら</a>

      <ul class="list-group visible-lg visible-md visible-sm" id="list-tumblr">
        <a class="list-group-item" href="http://comiknowledge.tumblr.com"><h4>ComiKnowledge 更新情報</h4></a>
      </ul>
    </div>

    <div class="col-sm-8">
      {% if invited_groups %}
        <div class="alert alert-info">
          <a href="{% url "ck.views.group" %}">
            グループ
            {% for group in invited_groups %}「{{ group.name }}」{% endfor %}
            に招待されています！
          </a>
        </div>
      {% endif %}


      <ul class="list-group">
        <a class="list-group-item" href="https://twitter.com/comiketofficial"><h4>@comiketofficial</h4></a>
        <li class="list-group-item">
          <a class="twitter-timeline" href="https://twitter.com/comiketofficial" data-widget-id="402990761966182400" data-chrome="noheader transparent" lang="ja">@comiketofficial からのツイート</a>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}