{% extends "base.html" %}

{% block navbar-contents %}
  <ul class="nav navbar-nav">
    <li class="active"><a href={% url "ck.views.home" %}>ホーム</a></li>
    <li><a href={% url "ck.views.group" %}>グループ</a></li>
    <li><a href={% url "ck.views.checklist" %}>チェックリスト</a></li>
  </ul>
  <ul class="nav navbar-nav navbar-right">
    <li><a href={% url "ck.views.logout" %}>ログアウト</a></li>
  </ul>
{% endblock %}

{% block content %}
  {% if invited_groups %}
    <div class="alert alert-info">
      <a href="{% url "ck.views.group" %}">
      {% for group in invited_groups %}{{ group.name }} {% endfor %}
      に招待されています！</a>
    </div>
  {% endif %}

  <div>
  <h3>User data:</h3>
    {% if user.thumbnail %}<img src="{{ user.thumbnail.url }}" class="">{% endif %}
    <table class="table">
      <tr><th>ID</th> <td>{{ user.id }}</td></tr>
      <tr><th>UserID</th> <td>{{ user.username }}</td></tr>
      <tr><th>Username</th> <td>{{ user.first_name }}</td></tr>
    </table>
  </div>
{% endblock %}