{% extends "base.html" %}

{% block style %}
  <style>
      #header {
          margin-top: 70px;
      }
  </style>
{% endblock %}

{% block header %}
<div class="jumbotron">
  <div class="container">
    <h2>ComiKnowledge</h2>
    <p>ComiKnowledgeで、コミケカタログのお気に入りやチェックリストを統合することができます。</p>
    <p>これはテスト版です。何か問題がありましたら報告よろしくお願いします。</p>
    <p><a href="{% url "socialauth_begin" "twitter" %}" class="btn btn-lg btn-success">Twitterアカウントでログイン</a></p>
    <small>{{ version }}</small>
  </div>
</div>
{% endblock %}