{% extends "base.html" %}

{% block title %}{{ keyword }}の検索結果 | {% endblock %}

{% block content %}
  <h3>{{ keyword }}の検索結果</h3>

  {% if not circles %}
    <div class="alert alert-warning">
      <p>見つかりませんでした。<a href="{% url "ck.views.circle_register" %}" class="alert-link">サークルを登録する</a></p>
    </div>
  {% else %}
    <div class="alert alert-success">
      <p>{{ p_circles.count }}件のサークルが見つかりました<br>
      　→見つかりませんでしたか？　<a href="{% url "ck.views.circle_register" %}" class="alert-link">サークルを登録する</a></p>
    </div>

    <center>
    <div class="pagination">
      {% if circles.has_previous %}
        <li><a href="?keyword={{ request.GET.keyword }}&page=1">|&lt;</a></li>
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ circles.previous_page_number }}">&lt;</a></li>
      {% else %}
        <li class="disabled"><a>|&lt;</a></li>
        <li class="disabled"><a>&lt;</a></li>
      {% endif %}
    {% for p in pages %}
      {% ifequal p circles.number %}
        <li class="active"><a>{{ p }}</a></li>
      {% else %}
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ p }}">{{ p }}</a></li>
      {% endifequal %}
    {% endfor %}
      {% if circles.has_next %}
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ circles.next_page_number }}">&gt;</a></li>
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ p_circles.num_pages }}">&gt;|</a></li>
      {% else %}
        <li class="disabled"><a>&gt;</a></li>
        <li class="disabled"><a>&gt;|</a></li>
      {% endif %}
    </div>
    </center>
  {% endif %}

  {% for circle in circles %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a href="{% url "ck.views.circle" circle.parent_circle_knowledge.circle_knowledge_id %}">
            <strong>{{ circle.circle_name }}</strong>
            <div class="pull-right">{{ circle.pen_name }}</div>
          </a>
        </div>
      </div>
      <table class="table">
        <tr>
          <td>{{ circle.day }}日目 {{ circle.circle_space }}</td>
        </tr>
        {% if circle.description %}
        <tr>
          <td>{{ circle.description }}</td>
        </tr>
        {% endif %}
      </table>
    </div>
  {% endfor %}

  {% if circles %}
    <center>
    <div class="pagination">
      {% if circles.has_previous %}
        <li><a href="?keyword={{ request.GET.keyword }}&page=1">|&lt;</a></li>
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ circles.previous_page_number }}">&lt;</a></li>
      {% else %}
        <li class="disabled"><a>|&lt;</a></li>
        <li class="disabled"><a>&lt;</a></li>
      {% endif %}
    {% for p in pages %}
      {% ifequal p circles.number %}
        <li class="active"><a>{{ p }}</a></li>
      {% else %}
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ p }}">{{ p }}</a></li>
      {% endifequal %}
    {% endfor %}
      {% if circles.has_next %}
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ circles.next_page_number }}">&gt;</a></li>
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ p_circles.num_pages }}">&gt;|</a></li>
      {% else %}
        <li class="disabled"><a>&gt;</a></li>
        <li class="disabled"><a>&gt;|</a></li>
      {% endif %}
    </div>
    </center>  {% endif %}

{% endblock %}