{% extends "base.html" %}

{% block title %}{{ keyword }}の検索結果 | {% endblock %}

{% block content %}
  <h3>{{ keyword }}の検索結果</h3>

  {% if not results %}
    <div class="alert alert-warning">
      <p>見つかりませんでした。
        <a href="{% url "ck.views.circle_register" %}" class="alert-link">サークルを登録する</a>　
        <a href="{% url "ck.views.company_register" %}" class="alert-link">企業ブースを登録する</a></p>
    </div>
  {% else %}
    <div class="alert alert-success">
      <p>{{ p_results.count }}件の情報が見つかりました<br>
      　→見つかりませんでしたか？　
        <a href="{% url "ck.views.circle_register" %}" class="alert-link">サークルを登録する</a>　
        <a href="{% url "ck.views.company_register" %}" class="alert-link">企業ブースを登録する</a></p>
    </div>
  {% endif %}

  {% if results %}
    <center>
    <div class="pagination">
      {% if results.has_previous %}
        <li><a href="?keyword={{ request.GET.keyword }}&page=1">|&lt;</a></li>
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ results.previous_page_number }}">&lt;</a></li>
      {% else %}
        <li class="disabled"><a>|&lt;</a></li>
        <li class="disabled"><a>&lt;</a></li>
      {% endif %}
    {% for p in pages %}
      {% ifequal p results.number %}
        <li class="active"><a>{{ p }}</a></li>
      {% else %}
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ p }}">{{ p }}</a></li>
      {% endifequal %}
    {% endfor %}
      {% if results.has_next %}
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ results.next_page_number }}">&gt;</a></li>
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ p_results.num_pages }}">&gt;|</a></li>
      {% else %}
        <li class="disabled"><a>&gt;</a></li>
        <li class="disabled"><a>&gt;|</a></li>
      {% endif %}
    </div>
    </center>
  {% endif %}

  {% for result in results %}
    <div class="panel panel-default">
    {% if result.circle_name %}

      <div class="panel-heading">
        <div class="panel-title">
          <a href="{% url "ck.views.circle" result.parent_circle_knowledge.circle_knowledge_id %}">
            <strong>{{ result.circle_name }}</strong>
            <div class="pull-right">{{ result.pen_name }}</div>
          </a>
        </div>
      </div>
      <table class="table">
        <tr>
          <td>{{ result.day }}日目 {{ result.circle_space }}</td>
        </tr>
        {% if result.description %}
        <tr>
          <td>{{ result.description }}</td>
        </tr>
        {% endif %}
      </table>

    {% else %}

      <div class="panel-heading">
        <div class="panel-title">
          <a href="{% url "ck.views.company" result.parent_company_knowledge.company_knowledge_id %}"><strong>{{ result.company_name }}</strong></a>
          <span class="label label-success" style="padding: .3em .6em;">企業</span>
        </div>
      </div>
      <table class="table">
        <tr>
          <td>ブース番号: {{ result.space_number }}</td>
        </tr>
        {% if result.description %}
        <tr>
          <td>{{ result.description }}</td>
        </tr>
        {% endif %}
      </table>

    {% endif %}
    </div>
  {% endfor %}

  {% if results %}
    <center>
    <div class="pagination">
      {% if results.has_previous %}
        <li><a href="?keyword={{ request.GET.keyword }}&page=1">|&lt;</a></li>
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ results.previous_page_number }}">&lt;</a></li>
      {% else %}
        <li class="disabled"><a>|&lt;</a></li>
        <li class="disabled"><a>&lt;</a></li>
      {% endif %}
    {% for p in pages %}
      {% ifequal p results.number %}
        <li class="active"><a>{{ p }}</a></li>
      {% else %}
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ p }}">{{ p }}</a></li>
      {% endifequal %}
    {% endfor %}
      {% if results.has_next %}
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ results.next_page_number }}">&gt;</a></li>
        <li><a href="?keyword={{ request.GET.keyword }}&page={{ p_results.num_pages }}">&gt;|</a></li>
      {% else %}
        <li class="disabled"><a>&gt;</a></li>
        <li class="disabled"><a>&gt;|</a></li>
      {% endif %}
    </div>
    </center>
  {% endif %}

{% endblock %}