{% extends "base.html" %}

{% block title %}{{ keyword }}の検索結果 | {% endblock %}

{% block content %}
  <h3>{{ keyword }}の検索結果</h3>

  {% if not circles %}
    <div class="alert alert-warning">
      見つかりませんでした。
      <a href="{% url "ck.views.circle_register" %}" class="alert-link">サークルを登録する</a>
    </div>
  {% else %}
    <div class="alert alert-success">
      {{ circles | length }}件のサークルが見つかりました<br>
      　→見つかりませんでしたか？　<a href="{% url "ck.views.circle_register" %}" class="alert-link">サークルを登録する</a>
    </div>
  {% endif %}
  {% for circle in circles %}
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <a href="{% url "ck.views.circle" circle.parent_circle_knowledge.circle_knowledge_id %}">
            <strong>{{ circle.circle_name }}</strong>
            <div class="pull-right">{{ circle.pen_name }}</div>
          </a>
        </div>
      </div>
      <table class="table">
        <tr>
          <td>{{ circle.day }}日目 {{ circle.circle_space }}</td>
        </tr>
        {% if circle.description %}
        <tr>
          <td>{{ circle.description }}</td>
        </tr>
        {% endif %}
      </table>
    </div>
  {% endfor %}

{% endblock %}